@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'reset';

$primaryColor: #02897a;

:root {
	--text-color: #22343d;
	--primary-bg: #ffffff;
	--secondary-bg: #ededed;
    --border-color: #E7E7E7;
}

@media (prefers-color-scheme: dark) {
    :root { 
        --text-color: #ffffff;
        --primary-bg: #1f2e35;
        --secondary-bg: #30444e;
        --border-color: #474747;
    }
}

[dark] {
	--text-color: #ffffff;
	--primary-bg: #1f2e35;
	--secondary-bg: #30444e;
    --border-color: #474747;
}

body {
	background-color: var(--primary-bg);
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	font-weight: 400;
	color: var(--text-color);
    position: relative;
}

.main {
    padding-top: 85px;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 20px;
	@media (max-width: 320px) {
		padding: 0 15px;
	}
}

.section-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    @media (max-width: 480px) {
        font-size: 24px;
        line-height: 1.3;
    }
    span {
        display: block;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        @media (max-width: 480px) {
            font-size: 13px;
        }
    }
}

.btn {
	display: inline-block;
	min-width: 110px;
	background-color: $primaryColor;
	color: #fff;
    font-weight: 700;
	border: 1px solid $primaryColor;
	border-radius: 4px;
    text-align: center;
	padding: 14px 24px;
	transition: scale 0.5s ease-in;
	&:hover {
		transform: scale(0.95);
	}
}

.btn-reverse {
    background-color: #fff;
    border: 1px solid #fff;
    color: $primaryColor;
}

.btn-outline {
	background-color: transparent;
	color: var(--text-color);
	border: 1px solid #bcd0e5;
}

.btn-icon {
	display: inline-block;
	img {
		margin-right: 8px;
	}
	&__text {
		color: $primaryColor;
		font-weight: 600;
		font-size: 16px;
		text-decoration: underline;
	}
}

.header {
    position: fixed;
    width: 100%;
    z-index: 99;
	background-color: var(--secondary-bg);
	padding: 19px 0 18px;
	@media (max-width: 991px) {
		box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: flex;
		align-items: center;
	}

	&__logo-icon {
		width: 40px;
		height: 36px;
	}

	&__logo-text {
		color: var(--text-color);
		font-weight: 700;
		font-size: 30px;
		margin-left: 16px;
		@media (max-width: 480px) {
			margin-left: 8px;
		}
	}

	&__menu-list {
		display: flex;
		align-items: center;
	}

	&__menu-link {
		display: block;
		margin-right: 24px;
		font-size: 16px;
		color: var(--text-color);
		&:hover {
			text-decoration: underline;
		}
	}

	&__menu-link--active {
		font-weight: 600;
	}

	&__menu-btns {
		display: flex;
		margin-right: 24px;
	}

	&__menu-btn {
        font-weight: 400;
        padding: 10px 25px;
        &:first-child {
            margin-right: 24px;
        }
    }

	&__menu-burger {
		display: none;
	}
}

.toggle-theme {
	cursor: pointer;
}

.burger-menu {
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 24px;
	height: 20px;
	cursor: pointer;
	&__line {
		display: block;
		background-color: var(--text-color);
		height: 4px;
		width: 100%;
		border-radius: 3px;
		transition: all 0.6s ease;
		&:nth-child(2) {
			transition: opacity 0.5s ease-in-out;
		}
	}
}

@media (max-width: 991px) {
	.header {
		&__menu-list {
			position: fixed;
			z-index: 99;
			padding: 20px;
			width: 100%;
			top: 85px;
			left: 0;
			flex-direction: column;
			justify-content: space-around;
			align-items: flex-start;
			background-color: var(--secondary-bg);
			transition: transform 0.5s ease-in-out;
			transform: translateX(110%);
			box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
			@media (max-width: 320px) {
				padding: 15px;
			}
		}

		&__menu-list.active {
			transform: translateX(0);
		}

		&__menu-link {
			margin-right: 0;
			margin-bottom: 24px;
		}

		&__menu-btns {
			margin-right: 0;
		}

		&__menu-burger {
			display: flex;
		}
	}

	.burger-menu.active {
		height: 24px;
		.burger-menu__line:first-child {
			width: 120%;
			transform: translate(-2px, 10px) rotate(45deg);
		}
		.burger-menu__line:nth-child(2) {
			opacity: 0;
		}
		.burger-menu__line:last-child {
			width: 120%;
			transform: translate(-2px, -10px) rotate(-45deg);
		}
	}

	.toggle-theme {
		position: absolute;
		top: 20px;
		right: 20px;
	}
}

.start {
	background-color: var(--secondary-bg);
	padding: 70px 0 50px;
	&__container {
		display: flex;
		align-items: center;
	}

	&__content {
		display: flex;
		flex-direction: column;
		margin-right: 45px;
	}

	&__title {
		max-width: 380px;
		font-weight: 700;
		font-size: 40px;
		line-height: 1.5;
		margin-bottom: 18px;
	}

	&__text {
		max-width: 450px;
		font-size: 18px;
		line-height: 1.6;
		margin-bottom: 60px;
	}

	&__btns {
		display: flex;
		align-items: center;
	}

	&__btn:first-child {
		margin-right: 30px;
	}

	&__img {
		max-width: 600px;
		img {
			width: 100%;
		}
	}
}

@media (max-width: 900px) {
	.start {
		background-color: var(--secondary-bg);
		padding: 70px 0 50px;
		&__container {
			flex-direction: column-reverse;
		}

		&__content {
			align-items: center;
			margin-right: 0;
			text-align: center;
		}

		&__title {
			max-width: 100%;
			font-size: 36px;
			margin-bottom: 16px;
		}

		&__img {
			max-width: 500px;
			margin-bottom: 40px;
		}
	}
}

@media (max-width: 480px) {
	.start {
		&__title {
			font-size: 28px;
			line-height: 1.3;
		}

		&__text {
			font-size: 16px;
			margin-bottom: 40px;
		}

		&__btns {
			flex-direction: column;
			align-items: stretch;
		}

		&__btn:first-child {
			margin-right: 0;
			margin-bottom: 30px;
		}
	}
}

.features {
	background-color: var(--secondary-bg);
	padding: 50px 0;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		max-width: 540px;
		text-align: center;
		margin-bottom: 66px;
	}

	&__wrapper {
		text-align: left;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
        justify-content: center;
		gap: 46px;
	}

	&__item {
		&:nth-child(2) {
			.features__item-icon {
				background-color: #4d8dff;
			}
		}
		&:nth-child(3) {
			.features__item-icon {
				background-color: #740a76;
			}
		}
		&:nth-child(4) {
			.features__item-icon {
				background-color: #f03e3d;
			}
		}
	}

	&__item-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 19px;
		background-color: $primaryColor;
		margin-bottom: 30px;
	}

	&__item-title {
		font-weight: 600;
		font-size: 22px;
		margin-bottom: 13px;
	}

	&__btn {
		margin-top: 50px;
		text-transform: uppercase;
	}
}

@media (max-width: 991px) {
	.features {
		&__title {
			margin-bottom: 50px;
		}

		&__wrapper {
			grid-template-columns: repeat(2, 0.8fr);
		}

		&__item {
			text-align: center;
		}

		&__item-icon {
			margin: 0 auto;
			margin-bottom: 24px;
		}

		&__item-title {
			margin-bottom: 8px;
		}
	}
}

@media (max-width: 480px) {
	.features {
		&__title {
			margin-bottom: 40px;
		}

		&__wrapper {
			grid-template-columns: repeat(1, 0.8fr);
		}

		&__item {
			text-align: center;
		}
	}
}

.services {
    padding: 100px 0 50px;
    &__container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 100px 70px;
        align-items: center;
    }

    &__content {
        max-width: 486px;
    }

    &__title {
        margin-bottom: 23px;
    }

    &__paragraph:not(:last-child) {
        margin-bottom: 30px;
    }

    &__subtitle {
        font-weight: 600;
        margin-bottom: 12px;
    }

    &__img {
        max-width: 540px;
        img {
            width: 100%;
        }
    }

    &__list {
        margin-top: 30px;
    }

    &__list-item {
        position: relative;
        padding-left: 65px;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            content: url(../images/tick.svg);
            width: 35px;
            height: 35px;
            border-radius: 14px;
            background-color: #FF9900;
            margin-right: 30px;
        }
        &:nth-child(2)::before {
            background-color: #F03E3D;
        }
        &:nth-child(3)::before {
            background-color: #4D8DFF;
        }
    }
}

@media (max-width: 991px) {
   .services {
        padding: 80px 0 50px; 
        &__container {
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            gap: 80px;
        }

        &__content {
            max-width: 100%;
        }
   }

   .servises-item:nth-child(2) {
        grid-row: 1;
    }

    .servises-item:nth-child(6) {
        grid-row: 5;
    }
}

.experts {
    background-color: var(--secondary-bg);
    padding: 100px 0 60px;
    @media (max-width: 991px) { 
        padding: 80px 0 50px;
    }
    &__container {
        text-align: center;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__text {
        margin: 0 auto;
        max-width: 542px;
        margin-bottom: 32px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-around;
    }

    &__col {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__item-img {
        width: 98px;
        img {
            width: 100%;
        }
    }

    &__item-text {
        position: relative;
        padding: 15px 24px;
        background-color: #fff;
        box-shadow: 0px 2px 8px rgba(86, 117, 146, 0.1);
        border-radius: 26px;
        color: #2F281E;
        font-weight: 500;
        &::before {
            position: absolute;
            content: '';
            display: block;
            width: 17px;
            height: 17px;
            background-color: #fff;
            bottom: -8px;
            left: 32px;
            border-radius: 50%;
        }

        &::after {
            position: absolute;
            content: '';
            display: block;
            width: 9px;
            height: 9px;
            background-color: #fff;
            bottom: -17px;
            left: 21px;
            border-radius: 50%;
        }
    }

    .left-text {
        &::before {
            left: initial;
            right: 32px;
        }

        &::after {
            left: initial;
            right: 21px;
        }
    }

    &__btn {
        margin-top: 58px;
    }
}

@media(max-width: 880px) {
    .experts {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }

        &__col {
            gap: 30px;
            &:last-child {
                margin-top: 30px;
                display: flex;
                flex-direction: column-reverse; 
            }
        }

        &__item {
            justify-content: center;
        }
    }
}

@media(max-width: 480px) {
    .experts {
        &__item {
            gap: 10px;
        }

        &__item-text {
            padding: 8px 12px; 
        }

        &__item-img {
            width: 70px;
        }
    }
}

.prices {
    background-color: var(--secondary-bg);
    padding: 90px 0 60px;
    @media (max-width: 991px) { 
        padding: 70px 0 50px;
    }

    &__container {
        text-align: center;
    }

    &__subtitle {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        text-transform: uppercase;
        margin-bottom: 32px;
    }

    &__title {
        margin-bottom: 8px;
    }

    &__text {
        margin-bottom: 50px;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        gap: 70px;
        flex-wrap: wrap;
    }

    &__item {
        max-width: 320px;
        width: 100%;
        background: #FFFFFF;
        color: #22343D;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        padding: 24px 10px 32px;
        &:nth-child(even) {
            background: $primaryColor;
            color: #FFFFFF;
        }
    }

    &__item-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 8px;
    }

    &__item-text {
        margin-bottom: 16px;
    }

    &__item-price {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        margin-bottom: 16px;
        &_num {
            font-weight: 700;
            font-size: 76px;
            line-height: 100px;
            margin-right: 8px;
            color: $primaryColor;
        }

        &_curr {
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: $primaryColor;
        }

        &_period {
            color: #AFAFAF;
        }
    }
    &__item-btn {
        margin-top: 22px;
    }
}

.prices__item:nth-child(even) {
    .prices__item-price_num,
    .prices__item-price_curr,
    .prices__item-price_period {
        color: #FFFFFF;
    } 
}

@media (max-width:420px) {
    .prices {
        &__wrapper {
            gap: 32px;
        }

        &__item-text {
            margin-bottom: 10px;
        }

        &__item-price {
            margin-bottom: 10px;
            &_num {
                font-size: 60px;
                line-height: 80px;
            }
        }
    }
}

.box {
    background-color: var(--secondary-bg);
    padding: 90px 0 50px;
    @media (max-width: 991px) { 
        padding: 70px 0 50px;
    }
    &__wrapper {
        margin: 0 auto;
        max-width: 968px;
        background-color: $primaryColor;
        border-radius: 32px;
        color: #fff;
        padding: 10px 0 10px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 48px;
    }

    &__btn {
        width: 150px;
    }
}

@media (max-width: 880px) {
    .box {
        &__wrapper {
            max-width: 600px;
            flex-direction: column;
            padding: 50px 50px 10px 50px;
        }

        &__content {
            text-align: center;
            margin-bottom: 32px;
        }
    }
}

@media(max-width:767px) {
    .box {
        &__wrapper {
            max-width: 500px;
            padding: 30px 30px 10px 30px;
            @media(max-width:480px) { 
                padding: 25px 20px 0px 20px;
            }
        }

        &__title {
            font-size: 26px;
            line-height: 38px;
            margin-bottom: 48px;
        }
    
        &__img {
            img {
                width: 100%;
            }
        }
    }
}

.enterprise {
    background-color: var(--secondary-bg);
    text-align: center;
    padding: 90px 0 50px;
    @media (max-width: 991px) { 
        padding: 70px 0 50px;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    &__title {
        margin-bottom: 8px;
    }

    &__text {
        margin-bottom: 32px;
    }
}

.questions {
    background-color: var(--secondary-bg);
    padding: 100px 0 53px;
    @media(max-width: 991px) {
        padding: 70px 0 50px;
    }
    &__title {
        text-align: center;
        margin-bottom: 8px;
    }

    &__text {
        text-align: center;
        margin-bottom: 50px;
        @media(max-width: 420px) {
            margin-bottom: 30px;
        }
    }

    &__wrapper {
        max-width: 920px;
        margin: 0 auto;
    }

    &__item {
        border-bottom: 1px solid var(--border-color);
    }

    &__item-title {
        position: relative;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        padding: 16px 0 22px 40px;
        @media(max-width: 767px) {
            padding: 16px 0 16px 40px;
        }
        cursor: pointer;
        &::before {
            position: absolute;
            left: 0;
            content: '+';
            font-size: 20px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $primaryColor;
            border-radius: 50%;
            width: 24px;
            height: 24px;
        }
        &.active::before {
            content: '-';
        }
    }

    &__item-text {
        display: none;
        padding-bottom: 24px;
        @media(max-width: 420px) {
            padding: 0 10px 16px 10px;
        }
        &.active {
            display: block;
        }
    }
}

.light-bg {
    background-color: var(--primary-bg)
}